# 파생변수 생성

## 데이터 불러오기

In [271]:
import pandas as pd
import missingno
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

### plant 데이터 불러오기

In [272]:
plant = pd.read_csv("data/21.savedata_plant/plant.csv")
plant.head()

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,COND_LOC,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC
0,2016-04-01 00:00:00,1,1,16.0,24.0,11.0,9.0,42.0,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0
1,2016-04-01 00:00:00,1,2,14.0,23.0,11.0,9.0,42.0,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0
2,2016-04-01 00:00:00,1,3,13.0,32.0,10.0,9.0,42.0,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0
3,2016-04-01 03:00:00,1,1,14.0,28.0,10.0,7.0,59.0,0.0,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0
4,2016-04-01 03:00:00,1,2,12.0,32.0,9.0,7.0,59.0,0.0,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0

In [273]:
plant

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,COND_LOC,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC
0,2016-04-01 00:00:00,1,1,16.00,24.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0
1,2016-04-01 00:00:00,1,2,14.00,23.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0
2,2016-04-01 00:00:00,1,3,13.00,32.00,10.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0
3,2016-04-01 03:00:00,1,1,14.00,28.00,10.00,7.00,59.00,0.0,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0
4,2016-04-01 03:00:00,1,2,12.00,32.00,9.00,7.00,59.00,0.0,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
349312,2019-03-31 23:40:00,2,2,9.02,38.49,9.68,4.47,53.14,0.0,2019-04-01 23:40:00,0.0,2019-04-02 23:40:00,0.0
349313,2019-03-31 23:40:00,2,3,8.26,39.62,9.57,4.47,53.14,0.0,2019-04-01 23:40:00,0.0,2019-04-02 23:40:00,0.0
349314,2019-03-31 23:50:00,1,1,10.49,38.74,10.52,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0
349315,2019-03-31 23:50:00,1,2,10.55,36.69,11.01,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0
349316,2019-03-31 23:50:00,1,3,9.82,39.35,9.83,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0

### test 데이터 불러오기

In [274]:
test_data =pd.read_csv("data/21.savedata_plant/test_data.csv")
test_data.head()

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC
0,2019-04-01 0:00,2,3,8.17,40.42,10.10,4.20,54.82,2019-04-02 0:00,NaN,2019-04-03 0:00,NaN
1,2019-04-01 4:30,1,2,10.03,48.81,10.79,6.09,59.34,2019-04-02 4:30,NaN,2019-04-03 4:30,NaN
2,2019-04-01 10:30,2,3,9.45,40.93,9.07,12.26,32.14,2019-04-02 10:30,NaN,2019-04-03 10:30,NaN
3,2019-04-01 11:00,1,1,12.32,34.13,10.86,12.32,28.27,2019-04-02 11:00,NaN,2019-04-03 11:00,NaN
4,2019-04-01 13:30,2,1,11.28,22.65,8.76,12.01,19.84,2019-04-02 13:30,NaN,2019-04-03 13:30,NaN

### weather 데이터 불러오기

In [275]:
weather = pd.read_csv("data/22.savedata_weather/aws_merge_selected.csv")
weather

,tma,avg_pa,avg_ps,hr1_rn,avg_ta,avg_ws,max_ws,max_ws_wd,max_ins_ws,max_ins_ws_wd
0,2016-04-01 00:00:00,1013.3,1016.0,0.0,7.750000,0.475000,0.900000,128.300000,1.200000,142.725000
1,2016-04-01 01:00:00,1012.8,1015.5,0.0,6.675000,0.600000,0.875000,178.050000,1.175000,173.675000
2,2016-04-01 02:00:00,1012.5,1015.2,0.0,5.625000,0.550000,0.900000,182.925000,1.600000,189.175000
3,2016-04-01 03:00:00,1012.2,1014.9,0.0,5.625000,0.525000,0.975000,164.250000,1.500000,142.750000
4,2016-04-01 04:00:00,1012.3,1015.0,0.0,5.000000,0.600000,0.900000,92.800000,1.300000,133.625000
...,...,...,...,...,...,...,...,...,...,...
35059,2018-11-09 07:00:00,1013.6,1016.0,0.0,11.400000,5.600000,6.000000,261.450000,9.500000,270.000000
35060,2018-11-09 08:00:00,1013.6,1016.0,0.0,11.700000,5.350000,6.100000,262.150000,9.450000,257.350000
35061,2018-11-09 09:00:00,1013.6,1016.0,0.0,12.200000,5.050000,5.700000,290.150000,9.600000,263.000000
35062,2019-05-28 13:00:00,1013.6,1016.0,0.0,21.233333,2.833333,3.400000,298.366667,5.666667,180.000000
35063,2019-05-28 14:00:00,1013.6,1016.0,0.0,22.200000,3.100000,3.533333,309.666667,5.866667,308.433333

### sea 데이터 불러오기

In [276]:
sea = pd.read_csv("data/22.savedata_weather/sea_merge_selected.csv")
sea

,tma,wd_n1,ws_n1,gust_ws_n1,pa,buoy_hm,buoy_ta,max_wh,avg_wh,lb_wd,lb_ws,lb_max_ins_wd,lb_max_iws,lb_ta,lb_ps,lb_hm
0,2016-04-01 00:00:00,143.0,2.0,2.6,1015.5,72.0,8.4,0.0,0.0,78.0,0.8,60.0,4.0,9.0,1015.7,55.0
1,2016-04-01 00:30:00,103.0,0.0,1.1,1015.3,67.0,8.8,0.0,0.0,59.0,1.5,59.0,3.0,9.4,1015.4,50.0
2,2016-04-01 01:00:00,72.0,0.0,0.7,1015.1,57.0,8.0,0.0,0.0,30.0,1.3,59.0,3.0,11.5,1015.2,29.0
3,2016-04-01 01:30:00,10.0,1.0,2.9,1015.2,44.0,8.9,0.0,0.0,14.0,3.3,10.0,4.0,12.2,1015.1,26.0
4,2016-04-01 02:00:00,46.0,3.0,4.6,1015.0,40.0,11.2,0.0,0.0,335.0,1.6,10.0,4.0,11.0,1015.0,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70112,2020-03-31 21:30:00,23.0,6.0,7.7,1022.9,52.0,6.3,0.0,0.0,300.0,3.0,306.0,5.0,8.1,1016.1,77.0
70113,2020-03-31 22:00:00,23.0,6.0,7.7,1022.9,52.0,6.3,0.0,0.0,304.0,3.8,312.0,5.0,8.2,1016.0,75.0
70114,2020-03-31 22:30:00,23.0,6.0,7.7,1022.9,52.0,6.3,0.0,0.0,260.0,2.9,312.0,5.0,8.0,1016.0,77.0
70115,2020-03-31 23:00:00,23.0,6.0,7.7,1022.9,52.0,6.3,0.0,0.0,296.0,2.7,312.0,5.0,7.9,1016.0,77.0
70116,2020-03-31 23:30:00,23.0,6.0,7.7,1022.9,52.0,6.3,0.0,0.0,314.0,3.7,312.0,5.0,7.9,1016.0,78.0

# plant 파생변수 생성

## 이슬점 추가하기

In [277]:
import sys
import numpy as np
 
# approximation valid for
# 0 degC < T < 60 degC
# 1% < RH < 100%
# 0 degC < Td < 50 degC 
 
# constants
a = 17.271
b = 237.7 # degC
def dewpoint_approximation(T,RH):
 
    Td = (b * gamma(T,RH)) / (a - gamma(T,RH))
 
    return Td
 
def gamma(T,RH):
 
    g = (a * T / (b + T)) + np.log(RH/100.0)
 
    return g
def inAppendDewpoint(data):
    data["DEW_POINT_IN"] = dewpoint_approximation(data["TEM_IN"], data["HUM_IN"])
    return data
def OutAppendDewpoint(data):
    data["DEW_POINT_OUT"] = dewpoint_approximation(data["TEM_OUT_LOC1"], data["HUM_OUT_LOC1"])
    return data
def CoilAppendDewpoint(data):
    data["DEW_POINT_COIL"] = dewpoint_approximation(data["TEM_COIL"], data["HUM_IN"])
    return data

In [278]:
plant = inAppendDewpoint(plant)
plant = OutAppendDewpoint(plant)
plant = CoilAppendDewpoint(plant)

In [279]:
plant

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,COND_LOC,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC,DEW_POINT_IN,DEW_POINT_OUT,DEW_POINT_COIL
0,2016-04-01 00:00:00,1,1,16.00,24.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-4.561169,-3.223393,-8.790313
1,2016-04-01 00:00:00,1,2,14.00,23.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-6.805218,-3.223393,-9.332252
2,2016-04-01 00:00:00,1,3,13.00,32.00,10.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-3.309370,-3.223393,-5.933778
3,2016-04-01 03:00:00,1,1,14.00,28.00,10.00,7.00,59.00,0.0,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0,-4.222123,-0.461135,-7.667883
4,2016-04-01 03:00:00,1,2,12.00,32.00,9.00,7.00,59.00,0.0,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0,-4.183719,-0.461135,-6.809490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349312,2019-03-31 23:40:00,2,2,9.02,38.49,9.68,4.47,53.14,0.0,2019-04-01 23:40:00,0.0,2019-04-02 23:40:00,0.0,-4.368462,-4.237103,-3.778235
349313,2019-03-31 23:40:00,2,3,8.26,39.62,9.57,4.47,53.14,0.0,2019-04-01 23:40:00,0.0,2019-04-02 23:40:00,0.0,-4.666200,-4.237103,-3.490602
349314,2019-03-31 23:50:00,1,1,10.49,38.74,10.52,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0,-2.967238,-4.445287,-2.940403
349315,2019-03-31 23:50:00,1,2,10.55,36.69,11.01,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0,-3.641345,-4.445287,-3.232477
349316,2019-03-31 23:50:00,1,3,9.82,39.35,9.83,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0,-3.357834,-4.445287,-3.348871

## 포화 수증기압 , 수증기압

In [280]:
import math
def saturationVaporPressure(t):
    '''포화 수증기압 구하는 공식'''
    t = float(t)
    return round(6.11* math.exp((17.27*t)/(237.3+t)),2)

In [281]:
plant["STR_WVP"]= plant["TEM_IN"].map(lambda x :saturationVaporPressure(x))
plant

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,COND_LOC,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC,DEW_POINT_IN,DEW_POINT_OUT,DEW_POINT_COIL,STR_WVP
0,2016-04-01 00:00:00,1,1,16.00,24.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-4.561169,-3.223393,-8.790313,18.19
1,2016-04-01 00:00:00,1,2,14.00,23.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-6.805218,-3.223393,-9.332252,15.99
2,2016-04-01 00:00:00,1,3,13.00,32.00,10.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-3.309370,-3.223393,-5.933778,14.98
3,2016-04-01 03:00:00,1,1,14.00,28.00,10.00,7.00,59.00,0.0,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0,-4.222123,-0.461135,-7.667883,15.99
4,2016-04-01 03:00:00,1,2,12.00,32.00,9.00,7.00,59.00,0.0,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0,-4.183719,-0.461135,-6.809490,14.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349312,2019-03-31 23:40:00,2,2,9.02,38.49,9.68,4.47,53.14,0.0,2019-04-01 23:40:00,0.0,2019-04-02 23:40:00,0.0,-4.368462,-4.237103,-3.778235,11.50
349313,2019-03-31 23:40:00,2,3,8.26,39.62,9.57,4.47,53.14,0.0,2019-04-01 23:40:00,0.0,2019-04-02 23:40:00,0.0,-4.666200,-4.237103,-3.490602,10.92
349314,2019-03-31 23:50:00,1,1,10.49,38.74,10.52,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0,-2.967238,-4.445287,-2.940403,12.69
349315,2019-03-31 23:50:00,1,2,10.55,36.69,11.01,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0,-3.641345,-4.445287,-3.232477,12.74
349316,2019-03-31 23:50:00,1,3,9.82,39.35,9.83,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0,-3.357834,-4.445287,-3.348871,12.14

### 수증기 압

In [282]:
plant["WVP"] = plant["TEM_IN"]*plant["STR_WVP"] / 100
plant

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,COND_LOC,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC,DEW_POINT_IN,DEW_POINT_OUT,DEW_POINT_COIL,STR_WVP,WVP
0,2016-04-01 00:00:00,1,1,16.00,24.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-4.561169,-3.223393,-8.790313,18.19,2.910400
1,2016-04-01 00:00:00,1,2,14.00,23.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-6.805218,-3.223393,-9.332252,15.99,2.238600
2,2016-04-01 00:00:00,1,3,13.00,32.00,10.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-3.309370,-3.223393,-5.933778,14.98,1.947400
3,2016-04-01 03:00:00,1,1,14.00,28.00,10.00,7.00,59.00,0.0,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0,-4.222123,-0.461135,-7.667883,15.99,2.238600
4,2016-04-01 03:00:00,1,2,12.00,32.00,9.00,7.00,59.00,0.0,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0,-4.183719,-0.461135,-6.809490,14.03,1.683600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349312,2019-03-31 23:40:00,2,2,9.02,38.49,9.68,4.47,53.14,0.0,2019-04-01 23:40:00,0.0,2019-04-02 23:40:00,0.0,-4.368462,-4.237103,-3.778235,11.50,1.037300
349313,2019-03-31 23:40:00,2,3,8.26,39.62,9.57,4.47,53.14,0.0,2019-04-01 23:40:00,0.0,2019-04-02 23:40:00,0.0,-4.666200,-4.237103,-3.490602,10.92,0.901992
349314,2019-03-31 23:50:00,1,1,10.49,38.74,10.52,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0,-2.967238,-4.445287,-2.940403,12.69,1.331181
349315,2019-03-31 23:50:00,1,2,10.55,36.69,11.01,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0,-3.641345,-4.445287,-3.232477,12.74,1.344070
349316,2019-03-31 23:50:00,1,3,9.82,39.35,9.83,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0,-3.357834,-4.445287,-3.348871,12.14,1.192148

## 내부온도 - 외부 온도

In [283]:
plant["IN_OUT_TEM_D"] = plant["TEM_IN"] - plant["TEM_OUT_LOC1"]
plant

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,COND_LOC,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC,DEW_POINT_IN,DEW_POINT_OUT,DEW_POINT_COIL,STR_WVP,WVP,IN_OUT_TEM_D
0,2016-04-01 00:00:00,1,1,16.00,24.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-4.561169,-3.223393,-8.790313,18.19,2.910400,7.00
1,2016-04-01 00:00:00,1,2,14.00,23.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-6.805218,-3.223393,-9.332252,15.99,2.238600,5.00
2,2016-04-01 00:00:00,1,3,13.00,32.00,10.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-3.309370,-3.223393,-5.933778,14.98,1.947400,4.00
3,2016-04-01 03:00:00,1,1,14.00,28.00,10.00,7.00,59.00,0.0,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0,-4.222123,-0.461135,-7.667883,15.99,2.238600,7.00
4,2016-04-01 03:00:00,1,2,12.00,32.00,9.00,7.00,59.00,0.0,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0,-4.183719,-0.461135,-6.809490,14.03,1.683600,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349312,2019-03-31 23:40:00,2,2,9.02,38.49,9.68,4.47,53.14,0.0,2019-04-01 23:40:00,0.0,2019-04-02 23:40:00,0.0,-4.368462,-4.237103,-3.778235,11.50,1.037300,4.55
349313,2019-03-31 23:40:00,2,3,8.26,39.62,9.57,4.47,53.14,0.0,2019-04-01 23:40:00,0.0,2019-04-02 23:40:00,0.0,-4.666200,-4.237103,-3.490602,10.92,0.901992,3.79
349314,2019-03-31 23:50:00,1,1,10.49,38.74,10.52,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0,-2.967238,-4.445287,-2.940403,12.69,1.331181,4.15
349315,2019-03-31 23:50:00,1,2,10.55,36.69,11.01,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0,-3.641345,-4.445287,-3.232477,12.74,1.344070,4.21
349316,2019-03-31 23:50:00,1,3,9.82,39.35,9.83,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0,-3.357834,-4.445287,-3.348871,12.14,1.192148,3.48

In [284]:
plant["IN_COIL_TEM_D"] = plant["TEM_IN"] - plant["TEM_COIL"]
plant

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,COND_LOC,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC,DEW_POINT_IN,DEW_POINT_OUT,DEW_POINT_COIL,STR_WVP,WVP,IN_OUT_TEM_D,IN_COIL_TEM_D
0,2016-04-01 00:00:00,1,1,16.00,24.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-4.561169,-3.223393,-8.790313,18.19,2.910400,7.00,5.00
1,2016-04-01 00:00:00,1,2,14.00,23.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-6.805218,-3.223393,-9.332252,15.99,2.238600,5.00,3.00
2,2016-04-01 00:00:00,1,3,13.00,32.00,10.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-3.309370,-3.223393,-5.933778,14.98,1.947400,4.00,3.00
3,2016-04-01 03:00:00,1,1,14.00,28.00,10.00,7.00,59.00,0.0,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0,-4.222123,-0.461135,-7.667883,15.99,2.238600,7.00,4.00
4,2016-04-01 03:00:00,1,2,12.00,32.00,9.00,7.00,59.00,0.0,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0,-4.183719,-0.461135,-6.809490,14.03,1.683600,5.00,3.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349312,2019-03-31 23:40:00,2,2,9.02,38.49,9.68,4.47,53.14,0.0,2019-04-01 23:40:00,0.0,2019-04-02 23:40:00,0.0,-4.368462,-4.237103,-3.778235,11.50,1.037300,4.55,-0.66
349313,2019-03-31 23:40:00,2,3,8.26,39.62,9.57,4.47,53.14,0.0,2019-04-01 23:40:00,0.0,2019-04-02 23:40:00,0.0,-4.666200,-4.237103,-3.490602,10.92,0.901992,3.79,-1.31
349314,2019-03-31 23:50:00,1,1,10.49,38.74,10.52,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0,-2.967238,-4.445287,-2.940403,12.69,1.331181,4.15,-0.03
349315,2019-03-31 23:50:00,1,2,10.55,36.69,11.01,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0,-3.641345,-4.445287,-3.232477,12.74,1.344070,4.21,-0.46
349316,2019-03-31 23:50:00,1,3,9.82,39.35,9.83,6.34,45.94,0.0,2019-04-01 23:50:00,0.0,2019-04-02 23:50:00,0.0,-3.357834,-4.445287,-3.348871,12.14,1.192148,3.48,-0.01

## 내부 습도 - 외부 습도

In [285]:
plant["IN_OUT_HUM_D"] = plant["HUM_IN"] - plant["HUM_OUT_LOC1"]
plant.head()

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,COND_LOC,X24H_TMA,...,X48H_TMA,X48H_COND_LOC,DEW_POINT_IN,DEW_POINT_OUT,DEW_POINT_COIL,STR_WVP,WVP,IN_OUT_TEM_D,IN_COIL_TEM_D,IN_OUT_HUM_D
0,2016-04-01 00:00:00,1,1,16.0,24.0,11.0,9.0,42.0,0.0,2016-04-02 00:00:00,...,2016-04-03 00:00:00,0.0,-4.561169,-3.223393,-8.790313,18.19,2.9104,7.0,5.0,-18.0
1,2016-04-01 00:00:00,1,2,14.0,23.0,11.0,9.0,42.0,0.0,2016-04-02 00:00:00,...,2016-04-03 00:00:00,0.0,-6.805218,-3.223393,-9.332252,15.99,2.2386,5.0,3.0,-19.0
2,2016-04-01 00:00:00,1,3,13.0,32.0,10.0,9.0,42.0,0.0,2016-04-02 00:00:00,...,2016-04-03 00:00:00,0.0,-3.309370,-3.223393,-5.933778,14.98,1.9474,4.0,3.0,-10.0
3,2016-04-01 03:00:00,1,1,14.0,28.0,10.0,7.0,59.0,0.0,2016-04-02 03:00:00,...,2016-04-03 03:00:00,0.0,-4.222123,-0.461135,-7.667883,15.99,2.2386,7.0,4.0,-31.0
4,2016-04-01 03:00:00,1,2,12.0,32.0,9.0,7.0,59.0,0.0,2016-04-02 03:00:00,...,2016-04-03 03:00:00,0.0,-4.183719,-0.461135,-6.809490,14.03,1.6836,5.0,3.0,-27.0

## 그냘 최대, 최저 온도, 습도, 코일 온도

In [286]:
def changeToDatatime(data):
    data["MEA_DDHR"] = pd.to_datetime(data['MEA_DDHR'])
    data['X24H_TMA'] = pd.to_datetime(data['X24H_TMA'])
    data['X48H_TMA'] = pd.to_datetime(data['X48H_TMA'])
    return data

In [287]:
plant = changeToDatatime(plant)
plant.dtypes

MEA_DDHR          datetime64[ns]
PLANT                      int64
LOC                        int64
TEM_IN                   float64
HUM_IN                   float64
TEM_COIL                 float64
TEM_OUT_LOC1             float64
HUM_OUT_LOC1             float64
COND_LOC                 float64
X24H_TMA          datetime64[ns]
X24H_COND_LOC            float64
X48H_TMA          datetime64[ns]
X48H_COND_LOC            float64
DEW_POINT_IN             float64
DEW_POINT_OUT            float64
DEW_POINT_COIL           float64
STR_WVP                  float64
WVP                      float64
IN_OUT_TEM_D             float64
IN_COIL_TEM_D            float64
IN_OUT_HUM_D             float64
dtype: object

In [288]:
plant['date'] = plant['MEA_DDHR'].dt.date
plant

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,COND_LOC,X24H_TMA,...,X48H_COND_LOC,DEW_POINT_IN,DEW_POINT_OUT,DEW_POINT_COIL,STR_WVP,WVP,IN_OUT_TEM_D,IN_COIL_TEM_D,IN_OUT_HUM_D,date
0,2016-04-01 00:00:00,1,1,16.00,24.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,...,0.0,-4.561169,-3.223393,-8.790313,18.19,2.910400,7.00,5.00,-18.00,2016-04-01
1,2016-04-01 00:00:00,1,2,14.00,23.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,...,0.0,-6.805218,-3.223393,-9.332252,15.99,2.238600,5.00,3.00,-19.00,2016-04-01
2,2016-04-01 00:00:00,1,3,13.00,32.00,10.00,9.00,42.00,0.0,2016-04-02 00:00:00,...,0.0,-3.309370,-3.223393,-5.933778,14.98,1.947400,4.00,3.00,-10.00,2016-04-01
3,2016-04-01 03:00:00,1,1,14.00,28.00,10.00,7.00,59.00,0.0,2016-04-02 03:00:00,...,0.0,-4.222123,-0.461135,-7.667883,15.99,2.238600,7.00,4.00,-31.00,2016-04-01
4,2016-04-01 03:00:00,1,2,12.00,32.00,9.00,7.00,59.00,0.0,2016-04-02 03:00:00,...,0.0,-4.183719,-0.461135,-6.809490,14.03,1.683600,5.00,3.00,-27.00,2016-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349312,2019-03-31 23:40:00,2,2,9.02,38.49,9.68,4.47,53.14,0.0,2019-04-01 23:40:00,...,0.0,-4.368462,-4.237103,-3.778235,11.50,1.037300,4.55,-0.66,-14.65,2019-03-31
349313,2019-03-31 23:40:00,2,3,8.26,39.62,9.57,4.47,53.14,0.0,2019-04-01 23:40:00,...,0.0,-4.666200,-4.237103,-3.490602,10.92,0.901992,3.79,-1.31,-13.52,2019-03-31
349314,2019-03-31 23:50:00,1,1,10.49,38.74,10.52,6.34,45.94,0.0,2019-04-01 23:50:00,...,0.0,-2.967238,-4.445287,-2.940403,12.69,1.331181,4.15,-0.03,-7.20,2019-03-31
349315,2019-03-31 23:50:00,1,2,10.55,36.69,11.01,6.34,45.94,0.0,2019-04-01 23:50:00,...,0.0,-3.641345,-4.445287,-3.232477,12.74,1.344070,4.21,-0.46,-9.25,2019-03-31
349316,2019-03-31 23:50:00,1,3,9.82,39.35,9.83,6.34,45.94,0.0,2019-04-01 23:50:00,...,0.0,-3.357834,-4.445287,-3.348871,12.14,1.192148,3.48,-0.01,-6.59,2019-03-31

In [289]:
date_maxTemp = plant.groupby(["date"]).max()
date_maxTemp = pd.DataFrame(date_maxTemp)
maxCategory = ["TEM_IN", "HUM_IN", "TEM_COIL", "TEM_OUT_LOC1", "HUM_OUT_LOC1"]
date_maxTemp = date_maxTemp[maxCategory]
date_maxTemp.columns = ["TEM_IN_MAX", "HUM_IN_MAX", "TEM_COIL_MAX", "TEM_OUT_LOC1_MAX", "HUM_OUT_LOC1_MAX"]
date_maxTemp

,TEM_IN_MAX,HUM_IN_MAX,TEM_COIL_MAX,TEM_OUT_LOC1_MAX,HUM_OUT_LOC1_MAX
date,,,,,
2016-04-01,18.00,44.00,14.00,18.00,59.00
2016-04-02,19.00,56.00,14.00,22.00,70.00
2016-04-03,17.00,76.00,14.00,13.00,81.00
2016-04-04,18.00,46.00,16.00,18.00,78.00
2016-04-05,19.00,48.00,15.00,19.00,60.00
...,...,...,...,...,...
2019-03-27,16.78,71.46,13.57,18.46,93.96
2019-03-28,15.25,73.26,13.57,15.68,99.39
2019-03-29,15.77,54.21,13.57,21.72,72.10
2019-03-30,13.45,68.59,12.69,13.36,94.38
2019-03-31,13.02,54.76,11.78,10.73,69.72

In [290]:
plant = pd.merge(plant,date_maxTemp, how="left", left_on="date", right_on="date")
plant

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,COND_LOC,X24H_TMA,...,WVP,IN_OUT_TEM_D,IN_COIL_TEM_D,IN_OUT_HUM_D,date,TEM_IN_MAX,HUM_IN_MAX,TEM_COIL_MAX,TEM_OUT_LOC1_MAX,HUM_OUT_LOC1_MAX
0,2016-04-01 00:00:00,1,1,16.00,24.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,...,2.910400,7.00,5.00,-18.00,2016-04-01,18.00,44.00,14.00,18.00,59.00
1,2016-04-01 00:00:00,1,2,14.00,23.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,...,2.238600,5.00,3.00,-19.00,2016-04-01,18.00,44.00,14.00,18.00,59.00
2,2016-04-01 00:00:00,1,3,13.00,32.00,10.00,9.00,42.00,0.0,2016-04-02 00:00:00,...,1.947400,4.00,3.00,-10.00,2016-04-01,18.00,44.00,14.00,18.00,59.00
3,2016-04-01 03:00:00,1,1,14.00,28.00,10.00,7.00,59.00,0.0,2016-04-02 03:00:00,...,2.238600,7.00,4.00,-31.00,2016-04-01,18.00,44.00,14.00,18.00,59.00
4,2016-04-01 03:00:00,1,2,12.00,32.00,9.00,7.00,59.00,0.0,2016-04-02 03:00:00,...,1.683600,5.00,3.00,-27.00,2016-04-01,18.00,44.00,14.00,18.00,59.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349312,2019-03-31 23:40:00,2,2,9.02,38.49,9.68,4.47,53.14,0.0,2019-04-01 23:40:00,...,1.037300,4.55,-0.66,-14.65,2019-03-31,13.02,54.76,11.78,10.73,69.72
349313,2019-03-31 23:40:00,2,3,8.26,39.62,9.57,4.47,53.14,0.0,2019-04-01 23:40:00,...,0.901992,3.79,-1.31,-13.52,2019-03-31,13.02,54.76,11.78,10.73,69.72
349314,2019-03-31 23:50:00,1,1,10.49,38.74,10.52,6.34,45.94,0.0,2019-04-01 23:50:00,...,1.331181,4.15,-0.03,-7.20,2019-03-31,13.02,54.76,11.78,10.73,69.72
349315,2019-03-31 23:50:00,1,2,10.55,36.69,11.01,6.34,45.94,0.0,2019-04-01 23:50:00,...,1.344070,4.21,-0.46,-9.25,2019-03-31,13.02,54.76,11.78,10.73,69.72
349316,2019-03-31 23:50:00,1,3,9.82,39.35,9.83,6.34,45.94,0.0,2019-04-01 23:50:00,...,1.192148,3.48,-0.01,-6.59,2019-03-31,13.02,54.76,11.78,10.73,69.72

## 하루 최소 온도

In [291]:
date_maxTemp = plant.groupby(["date"]).min()
date_maxTemp = pd.DataFrame(date_maxTemp)
maxCategory = ["TEM_IN", "HUM_IN", "TEM_COIL", "TEM_OUT_LOC1", "HUM_OUT_LOC1"]
date_maxTemp = date_maxTemp[maxCategory]
date_maxTemp.columns = ["TEM_IN_MIN", "HUM_IN_MIN", "TEM_COIL_MIN", "TEM_OUT_LOC1_MIN", "HUM_OUT_LOC1_MIN"]
date_maxTemp

,TEM_IN_MIN,HUM_IN_MIN,TEM_COIL_MIN,TEM_OUT_LOC1_MIN,HUM_OUT_LOC1_MIN
date,,,,,
2016-04-01,10.00,21.00,7.00,6.00,20.00
2016-04-02,11.00,32.00,8.00,9.00,23.00
2016-04-03,12.00,50.00,9.00,10.00,62.00
2016-04-04,11.00,15.00,6.00,9.00,35.00
2016-04-05,10.00,21.00,7.00,6.00,25.00
...,...,...,...,...,...
2019-03-27,11.10,44.20,9.79,7.56,39.44
2019-03-28,8.93,28.69,9.64,4.23,32.91
2019-03-29,10.15,25.06,9.72,6.34,16.36
2019-03-30,8.69,35.41,9.22,4.02,38.22
2019-03-31,7.95,22.01,8.76,4.47,25.46

In [292]:
plant = pd.merge(plant,date_maxTemp, how="left", left_on="date", right_on="date")
plant.drop(['date'], axis=1 ,inplace=True)
plant

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,COND_LOC,X24H_TMA,...,TEM_IN_MAX,HUM_IN_MAX,TEM_COIL_MAX,TEM_OUT_LOC1_MAX,HUM_OUT_LOC1_MAX,TEM_IN_MIN,HUM_IN_MIN,TEM_COIL_MIN,TEM_OUT_LOC1_MIN,HUM_OUT_LOC1_MIN
0,2016-04-01 00:00:00,1,1,16.00,24.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,...,18.00,44.00,14.00,18.00,59.00,10.00,21.00,7.00,6.00,20.00
1,2016-04-01 00:00:00,1,2,14.00,23.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,...,18.00,44.00,14.00,18.00,59.00,10.00,21.00,7.00,6.00,20.00
2,2016-04-01 00:00:00,1,3,13.00,32.00,10.00,9.00,42.00,0.0,2016-04-02 00:00:00,...,18.00,44.00,14.00,18.00,59.00,10.00,21.00,7.00,6.00,20.00
3,2016-04-01 03:00:00,1,1,14.00,28.00,10.00,7.00,59.00,0.0,2016-04-02 03:00:00,...,18.00,44.00,14.00,18.00,59.00,10.00,21.00,7.00,6.00,20.00
4,2016-04-01 03:00:00,1,2,12.00,32.00,9.00,7.00,59.00,0.0,2016-04-02 03:00:00,...,18.00,44.00,14.00,18.00,59.00,10.00,21.00,7.00,6.00,20.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349312,2019-03-31 23:40:00,2,2,9.02,38.49,9.68,4.47,53.14,0.0,2019-04-01 23:40:00,...,13.02,54.76,11.78,10.73,69.72,7.95,22.01,8.76,4.47,25.46
349313,2019-03-31 23:40:00,2,3,8.26,39.62,9.57,4.47,53.14,0.0,2019-04-01 23:40:00,...,13.02,54.76,11.78,10.73,69.72,7.95,22.01,8.76,4.47,25.46
349314,2019-03-31 23:50:00,1,1,10.49,38.74,10.52,6.34,45.94,0.0,2019-04-01 23:50:00,...,13.02,54.76,11.78,10.73,69.72,7.95,22.01,8.76,4.47,25.46
349315,2019-03-31 23:50:00,1,2,10.55,36.69,11.01,6.34,45.94,0.0,2019-04-01 23:50:00,...,13.02,54.76,11.78,10.73,69.72,7.95,22.01,8.76,4.47,25.46
349316,2019-03-31 23:50:00,1,3,9.82,39.35,9.83,6.34,45.94,0.0,2019-04-01 23:50:00,...,13.02,54.76,11.78,10.73,69.72,7.95,22.01,8.76,4.47,25.46

## 데이터 시계열 특성 추가
### 데이터 형식 바꿔주기

In [293]:
def changeToDatatime(data):
    data["MEA_DDHR"] = pd.to_datetime(data['MEA_DDHR'])
    data['X24H_TMA'] = pd.to_datetime(data['X24H_TMA'])
    data['X48H_TMA'] = pd.to_datetime(data['X48H_TMA'])
    return data

In [294]:
plant = changeToDatatime(plant)
plant.dtypes

MEA_DDHR            datetime64[ns]
PLANT                        int64
LOC                          int64
TEM_IN                     float64
HUM_IN                     float64
TEM_COIL                   float64
TEM_OUT_LOC1               float64
HUM_OUT_LOC1               float64
COND_LOC                   float64
X24H_TMA            datetime64[ns]
X24H_COND_LOC              float64
X48H_TMA            datetime64[ns]
X48H_COND_LOC              float64
DEW_POINT_IN               float64
DEW_POINT_OUT              float64
DEW_POINT_COIL             float64
STR_WVP                    float64
WVP                        float64
IN_OUT_TEM_D               float64
IN_COIL_TEM_D              float64
IN_OUT_HUM_D               float64
TEM_IN_MAX                 float64
HUM_IN_MAX                 float64
TEM_COIL_MAX               float64
TEM_OUT_LOC1_MAX           float64
HUM_OUT_LOC1_MAX           float64
TEM_IN_MIN                 float64
HUM_IN_MIN                 float64
TEM_COIL_MIN               float64
TEM_OUT_LOC1_MIN           float64
HUM_OUT_LOC1_MIN           float64
dtype: object

### 월, 달, 시 추가해주기

In [295]:
def appendMonthANdWeek(data):
    data['MONTH'] = data['MEA_DDHR'].dt.month
    data['WEEK'] = data['MEA_DDHR'].dt.week
    data['HOUR'] = data['MEA_DDHR'].dt.hour
    return data

In [296]:
plant = appendMonthANdWeek(plant)
plant = plant.drop(columns=["COND_LOC"],)
plant

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,...,TEM_OUT_LOC1_MAX,HUM_OUT_LOC1_MAX,TEM_IN_MIN,HUM_IN_MIN,TEM_COIL_MIN,TEM_OUT_LOC1_MIN,HUM_OUT_LOC1_MIN,MONTH,WEEK,HOUR
0,2016-04-01 00:00:00,1,1,16.00,24.00,11.00,9.00,42.00,2016-04-02 00:00:00,0.0,...,18.00,59.00,10.00,21.00,7.00,6.00,20.00,4,13,0
1,2016-04-01 00:00:00,1,2,14.00,23.00,11.00,9.00,42.00,2016-04-02 00:00:00,0.0,...,18.00,59.00,10.00,21.00,7.00,6.00,20.00,4,13,0
2,2016-04-01 00:00:00,1,3,13.00,32.00,10.00,9.00,42.00,2016-04-02 00:00:00,0.0,...,18.00,59.00,10.00,21.00,7.00,6.00,20.00,4,13,0
3,2016-04-01 03:00:00,1,1,14.00,28.00,10.00,7.00,59.00,2016-04-02 03:00:00,0.0,...,18.00,59.00,10.00,21.00,7.00,6.00,20.00,4,13,3
4,2016-04-01 03:00:00,1,2,12.00,32.00,9.00,7.00,59.00,2016-04-02 03:00:00,0.0,...,18.00,59.00,10.00,21.00,7.00,6.00,20.00,4,13,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349312,2019-03-31 23:40:00,2,2,9.02,38.49,9.68,4.47,53.14,2019-04-01 23:40:00,0.0,...,10.73,69.72,7.95,22.01,8.76,4.47,25.46,3,13,23
349313,2019-03-31 23:40:00,2,3,8.26,39.62,9.57,4.47,53.14,2019-04-01 23:40:00,0.0,...,10.73,69.72,7.95,22.01,8.76,4.47,25.46,3,13,23
349314,2019-03-31 23:50:00,1,1,10.49,38.74,10.52,6.34,45.94,2019-04-01 23:50:00,0.0,...,10.73,69.72,7.95,22.01,8.76,4.47,25.46,3,13,23
349315,2019-03-31 23:50:00,1,2,10.55,36.69,11.01,6.34,45.94,2019-04-01 23:50:00,0.0,...,10.73,69.72,7.95,22.01,8.76,4.47,25.46,3,13,23
349316,2019-03-31 23:50:00,1,3,9.82,39.35,9.83,6.34,45.94,2019-04-01 23:50:00,0.0,...,10.73,69.72,7.95,22.01,8.76,4.47,25.46,3,13,23

## 기상변수 추가하기

In [297]:
def changeWeatherFeature(data):
    data.columns = data.columns.str.upper()
    data['TMA'] = pd.to_datetime(data['TMA'])
    data = data.sort_values(by=['TMA'])
    data.rename({'TMA':'MEA_DDHR'}, axis='columns', inplace=True)
    return data

In [298]:
weather = changeWeatherFeature(weather)
weather

,MEA_DDHR,AVG_PA,AVG_PS,HR1_RN,AVG_TA,AVG_WS,MAX_WS,MAX_WS_WD,MAX_INS_WS,MAX_INS_WS_WD
0,2016-04-01 00:00:00,1013.3,1016.0,0.0,7.750,0.475,0.900,128.300,1.200,142.725
1,2016-04-01 01:00:00,1012.8,1015.5,0.0,6.675,0.600,0.875,178.050,1.175,173.675
2,2016-04-01 02:00:00,1012.5,1015.2,0.0,5.625,0.550,0.900,182.925,1.600,189.175
3,2016-04-01 03:00:00,1012.2,1014.9,0.0,5.625,0.525,0.975,164.250,1.500,142.750
4,2016-04-01 04:00:00,1012.3,1015.0,0.0,5.000,0.600,0.900,92.800,1.300,133.625
...,...,...,...,...,...,...,...,...,...,...
34993,2020-03-31 19:00:00,1012.9,1015.3,0.0,10.950,2.450,3.150,308.325,4.575,309.450
34994,2020-03-31 20:00:00,1013.0,1015.4,0.0,9.700,1.650,2.275,317.375,3.350,306.625
34995,2020-03-31 21:00:00,1013.7,1016.1,0.0,8.850,1.775,2.250,286.600,3.500,285.525
34996,2020-03-31 22:00:00,1014.0,1016.4,0.0,8.150,1.875,2.500,284.750,3.625,295.350
34997,2020-03-31 23:00:00,1013.6,1016.0,0.0,7.750,1.200,2.075,273.925,2.700,282.025

In [299]:
weather.to_csv("data/32.finaldata_weather/aws_merge_selected.csv", index=False)

In [300]:
def etlPlantWeather(plant, weather):
    plant_weather = plant.merge(weather, how='left', left_on='MEA_DDHR', right_on='MEA_DDHR')
    plant_weather = plant_weather.interpolate(method="linear")
    return plant_weather

In [301]:
plant_weather = etlPlantWeather(plant, weather)
plant_weather

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,...,HOUR,AVG_PA,AVG_PS,HR1_RN,AVG_TA,AVG_WS,MAX_WS,MAX_WS_WD,MAX_INS_WS,MAX_INS_WS_WD
0,2016-04-01 00:00:00,1,1,16.00,24.00,11.00,9.00,42.00,2016-04-02 00:00:00,0.0,...,0,1013.3,1016.0,0.0,7.750,0.475,0.900,128.30,1.200,142.725
1,2016-04-01 00:00:00,1,2,14.00,23.00,11.00,9.00,42.00,2016-04-02 00:00:00,0.0,...,0,1013.3,1016.0,0.0,7.750,0.475,0.900,128.30,1.200,142.725
2,2016-04-01 00:00:00,1,3,13.00,32.00,10.00,9.00,42.00,2016-04-02 00:00:00,0.0,...,0,1013.3,1016.0,0.0,7.750,0.475,0.900,128.30,1.200,142.725
3,2016-04-01 03:00:00,1,1,14.00,28.00,10.00,7.00,59.00,2016-04-02 03:00:00,0.0,...,3,1012.2,1014.9,0.0,5.625,0.525,0.975,164.25,1.500,142.750
4,2016-04-01 03:00:00,1,2,12.00,32.00,9.00,7.00,59.00,2016-04-02 03:00:00,0.0,...,3,1012.2,1014.9,0.0,5.625,0.525,0.975,164.25,1.500,142.750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349312,2019-03-31 23:40:00,2,2,9.02,38.49,9.68,4.47,53.14,2019-04-01 23:40:00,0.0,...,23,1021.1,1023.6,0.0,3.500,2.725,3.375,287.70,5.775,298.125
349313,2019-03-31 23:40:00,2,3,8.26,39.62,9.57,4.47,53.14,2019-04-01 23:40:00,0.0,...,23,1021.1,1023.6,0.0,3.500,2.725,3.375,287.70,5.775,298.125
349314,2019-03-31 23:50:00,1,1,10.49,38.74,10.52,6.34,45.94,2019-04-01 23:50:00,0.0,...,23,1021.1,1023.6,0.0,3.500,2.725,3.375,287.70,5.775,298.125
349315,2019-03-31 23:50:00,1,2,10.55,36.69,11.01,6.34,45.94,2019-04-01 23:50:00,0.0,...,23,1021.1,1023.6,0.0,3.500,2.725,3.375,287.70,5.775,298.125
349316,2019-03-31 23:50:00,1,3,9.82,39.35,9.83,6.34,45.94,2019-04-01 23:50:00,0.0,...,23,1021.1,1023.6,0.0,3.500,2.725,3.375,287.70,5.775,298.125

## 해상변수 추가하기

In [302]:
sea = changeWeatherFeature(sea)
sea

,MEA_DDHR,WD_N1,WS_N1,GUST_WS_N1,PA,BUOY_HM,BUOY_TA,MAX_WH,AVG_WH,LB_WD,LB_WS,LB_MAX_INS_WD,LB_MAX_IWS,LB_TA,LB_PS,LB_HM
0,2016-04-01 00:00:00,143.0,2.0,2.6,1015.5,72.0,8.4,0.0,0.0,78.0,0.8,60.0,4.0,9.0,1015.7,55.0
1,2016-04-01 00:30:00,103.0,0.0,1.1,1015.3,67.0,8.8,0.0,0.0,59.0,1.5,59.0,3.0,9.4,1015.4,50.0
2,2016-04-01 01:00:00,72.0,0.0,0.7,1015.1,57.0,8.0,0.0,0.0,30.0,1.3,59.0,3.0,11.5,1015.2,29.0
3,2016-04-01 01:30:00,10.0,1.0,2.9,1015.2,44.0,8.9,0.0,0.0,14.0,3.3,10.0,4.0,12.2,1015.1,26.0
4,2016-04-01 02:00:00,46.0,3.0,4.6,1015.0,40.0,11.2,0.0,0.0,335.0,1.6,10.0,4.0,11.0,1015.0,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70112,2020-03-31 21:30:00,23.0,6.0,7.7,1022.9,52.0,6.3,0.0,0.0,300.0,3.0,306.0,5.0,8.1,1016.1,77.0
70113,2020-03-31 22:00:00,23.0,6.0,7.7,1022.9,52.0,6.3,0.0,0.0,304.0,3.8,312.0,5.0,8.2,1016.0,75.0
70114,2020-03-31 22:30:00,23.0,6.0,7.7,1022.9,52.0,6.3,0.0,0.0,260.0,2.9,312.0,5.0,8.0,1016.0,77.0
70115,2020-03-31 23:00:00,23.0,6.0,7.7,1022.9,52.0,6.3,0.0,0.0,296.0,2.7,312.0,5.0,7.9,1016.0,77.0
70116,2020-03-31 23:30:00,23.0,6.0,7.7,1022.9,52.0,6.3,0.0,0.0,314.0,3.7,312.0,5.0,7.9,1016.0,78.0

In [303]:
sea.to_csv("data/32.finaldata_weather/sea_merge_selected.csv", index=False)

In [304]:
plant_weather_sea = etlPlantWeather(plant_weather, sea)
plant_weather_sea

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,...,BUOY_TA,MAX_WH,AVG_WH,LB_WD,LB_WS,LB_MAX_INS_WD,LB_MAX_IWS,LB_TA,LB_PS,LB_HM
0,2016-04-01 00:00:00,1,1,16.00,24.00,11.00,9.00,42.00,2016-04-02 00:00:00,0.0,...,8.4,0.0,0.0,78.0,0.8,60.0,4.0,9.0,1015.7,55.0
1,2016-04-01 00:00:00,1,2,14.00,23.00,11.00,9.00,42.00,2016-04-02 00:00:00,0.0,...,8.4,0.0,0.0,78.0,0.8,60.0,4.0,9.0,1015.7,55.0
2,2016-04-01 00:00:00,1,3,13.00,32.00,10.00,9.00,42.00,2016-04-02 00:00:00,0.0,...,8.4,0.0,0.0,78.0,0.8,60.0,4.0,9.0,1015.7,55.0
3,2016-04-01 03:00:00,1,1,14.00,28.00,10.00,7.00,59.00,2016-04-02 03:00:00,0.0,...,6.3,0.0,0.0,228.0,0.3,10.0,4.0,9.8,1015.0,44.0
4,2016-04-01 03:00:00,1,2,12.00,32.00,9.00,7.00,59.00,2016-04-02 03:00:00,0.0,...,6.3,0.0,0.0,228.0,0.3,10.0,4.0,9.8,1015.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349312,2019-03-31 23:40:00,2,2,9.02,38.49,9.68,4.47,53.14,2019-04-01 23:40:00,0.0,...,5.6,2.0,0.0,299.0,8.2,313.0,14.0,5.0,1023.2,46.0
349313,2019-03-31 23:40:00,2,3,8.26,39.62,9.57,4.47,53.14,2019-04-01 23:40:00,0.0,...,5.6,2.0,0.0,299.0,8.2,313.0,14.0,5.0,1023.2,46.0
349314,2019-03-31 23:50:00,1,1,10.49,38.74,10.52,6.34,45.94,2019-04-01 23:50:00,0.0,...,5.6,2.0,0.0,299.0,8.2,313.0,14.0,5.0,1023.2,46.0
349315,2019-03-31 23:50:00,1,2,10.55,36.69,11.01,6.34,45.94,2019-04-01 23:50:00,0.0,...,5.6,2.0,0.0,299.0,8.2,313.0,14.0,5.0,1023.2,46.0
349316,2019-03-31 23:50:00,1,3,9.82,39.35,9.83,6.34,45.94,2019-04-01 23:50:00,0.0,...,5.6,2.0,0.0,299.0,8.2,313.0,14.0,5.0,1023.2,46.0

# test 파생변수 생성

## 이슬점 추가하기

In [305]:
test_data = inAppendDewpoint(test_data)
test_data = OutAppendDewpoint(test_data)
test_data = CoilAppendDewpoint(test_data)

## 포화 수증기압 ,수증기압 추가하기

In [306]:
test_data["STR_WVP"]= test_data["TEM_IN"].map(lambda x :saturationVaporPressure(x))
test_data

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC,DEW_POINT_IN,DEW_POINT_OUT,DEW_POINT_COIL,STR_WVP
0,2019-04-01 0:00,2,3,8.17,40.42,10.10,4.20,54.82,2019-04-02 0:00,NaN,2019-04-03 0:00,NaN,-4.482439,-4.074966,-2.746664,10.86
1,2019-04-01 4:30,1,2,10.03,48.81,10.79,6.09,59.34,2019-04-02 4:30,NaN,2019-04-03 4:30,NaN,-0.247107,-1.238348,0.451055,12.31
2,2019-04-01 10:30,2,3,9.45,40.93,9.07,12.26,32.14,2019-04-02 10:30,NaN,2019-04-03 10:30,NaN,-3.163210,-3.898232,-3.505440,11.84
3,2019-04-01 11:00,1,1,12.32,34.13,10.86,12.32,28.27,2019-04-02 11:00,NaN,2019-04-03 11:00,NaN,-3.042714,-5.542454,-4.329266,14.33
4,2019-04-01 13:30,2,1,11.28,22.65,8.76,12.01,19.84,2019-04-02 13:30,NaN,2019-04-03 13:30,NaN,-9.291221,-10.356971,-11.413783,13.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3534,2020-03-29 3:00,1,2,10.73,33.36,13.30,6.28,46.37,2020-03-30 3:00,NaN,2020-03-31 3:00,NaN,-4.745901,-4.376622,-2.487578,12.90
3535,2020-03-29 5:00,2,3,9.15,38.86,11.70,1.39,74.33,2020-03-30 5:00,NaN,2020-03-31 5:00,NaN,-4.125121,-2.670593,-1.843282,11.60
3536,2020-03-29 7:00,2,1,7.10,44.87,9.03,4.26,58.06,2020-03-30 7:00,NaN,2020-03-31 7:00,NaN,-4.064845,-3.252700,-2.307509,10.09
3537,2020-03-29 11:30,1,1,13.54,33.49,12.20,12.90,33.67,2020-03-30 11:30,NaN,2020-03-31 11:30,NaN,-2.224313,-2.714531,-3.401824,15.52
3538,2020-03-29 19:30,1,1,14.21,34.43,12.77,9.88,43.96,2020-03-30 19:30,NaN,2020-03-31 19:30,NaN,-1.259503,-1.811991,-2.528521,16.21

In [307]:
test_data["WVP"] = test_data["TEM_IN"]*test_data["STR_WVP"] / 100
test_data

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC,DEW_POINT_IN,DEW_POINT_OUT,DEW_POINT_COIL,STR_WVP,WVP
0,2019-04-01 0:00,2,3,8.17,40.42,10.10,4.20,54.82,2019-04-02 0:00,NaN,2019-04-03 0:00,NaN,-4.482439,-4.074966,-2.746664,10.86,0.887262
1,2019-04-01 4:30,1,2,10.03,48.81,10.79,6.09,59.34,2019-04-02 4:30,NaN,2019-04-03 4:30,NaN,-0.247107,-1.238348,0.451055,12.31,1.234693
2,2019-04-01 10:30,2,3,9.45,40.93,9.07,12.26,32.14,2019-04-02 10:30,NaN,2019-04-03 10:30,NaN,-3.163210,-3.898232,-3.505440,11.84,1.118880
3,2019-04-01 11:00,1,1,12.32,34.13,10.86,12.32,28.27,2019-04-02 11:00,NaN,2019-04-03 11:00,NaN,-3.042714,-5.542454,-4.329266,14.33,1.765456
4,2019-04-01 13:30,2,1,11.28,22.65,8.76,12.01,19.84,2019-04-02 13:30,NaN,2019-04-03 13:30,NaN,-9.291221,-10.356971,-11.413783,13.38,1.509264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3534,2020-03-29 3:00,1,2,10.73,33.36,13.30,6.28,46.37,2020-03-30 3:00,NaN,2020-03-31 3:00,NaN,-4.745901,-4.376622,-2.487578,12.90,1.384170
3535,2020-03-29 5:00,2,3,9.15,38.86,11.70,1.39,74.33,2020-03-30 5:00,NaN,2020-03-31 5:00,NaN,-4.125121,-2.670593,-1.843282,11.60,1.061400
3536,2020-03-29 7:00,2,1,7.10,44.87,9.03,4.26,58.06,2020-03-30 7:00,NaN,2020-03-31 7:00,NaN,-4.064845,-3.252700,-2.307509,10.09,0.716390
3537,2020-03-29 11:30,1,1,13.54,33.49,12.20,12.90,33.67,2020-03-30 11:30,NaN,2020-03-31 11:30,NaN,-2.224313,-2.714531,-3.401824,15.52,2.101408
3538,2020-03-29 19:30,1,1,14.21,34.43,12.77,9.88,43.96,2020-03-30 19:30,NaN,2020-03-31 19:30,NaN,-1.259503,-1.811991,-2.528521,16.21,2.303441

## 내부온도 -외부온도

In [308]:
test_data["IN_OUT_TEM_D"] = test_data["TEM_IN"] - test_data["TEM_OUT_LOC1"]
test_data["IN_COIL_TEM_D"] = test_data["TEM_IN"] - test_data["TEM_COIL"]
test_data

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC,DEW_POINT_IN,DEW_POINT_OUT,DEW_POINT_COIL,STR_WVP,WVP,IN_OUT_TEM_D,IN_COIL_TEM_D
0,2019-04-01 0:00,2,3,8.17,40.42,10.10,4.20,54.82,2019-04-02 0:00,NaN,2019-04-03 0:00,NaN,-4.482439,-4.074966,-2.746664,10.86,0.887262,3.97,-1.93
1,2019-04-01 4:30,1,2,10.03,48.81,10.79,6.09,59.34,2019-04-02 4:30,NaN,2019-04-03 4:30,NaN,-0.247107,-1.238348,0.451055,12.31,1.234693,3.94,-0.76
2,2019-04-01 10:30,2,3,9.45,40.93,9.07,12.26,32.14,2019-04-02 10:30,NaN,2019-04-03 10:30,NaN,-3.163210,-3.898232,-3.505440,11.84,1.118880,-2.81,0.38
3,2019-04-01 11:00,1,1,12.32,34.13,10.86,12.32,28.27,2019-04-02 11:00,NaN,2019-04-03 11:00,NaN,-3.042714,-5.542454,-4.329266,14.33,1.765456,0.00,1.46
4,2019-04-01 13:30,2,1,11.28,22.65,8.76,12.01,19.84,2019-04-02 13:30,NaN,2019-04-03 13:30,NaN,-9.291221,-10.356971,-11.413783,13.38,1.509264,-0.73,2.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3534,2020-03-29 3:00,1,2,10.73,33.36,13.30,6.28,46.37,2020-03-30 3:00,NaN,2020-03-31 3:00,NaN,-4.745901,-4.376622,-2.487578,12.90,1.384170,4.45,-2.57
3535,2020-03-29 5:00,2,3,9.15,38.86,11.70,1.39,74.33,2020-03-30 5:00,NaN,2020-03-31 5:00,NaN,-4.125121,-2.670593,-1.843282,11.60,1.061400,7.76,-2.55
3536,2020-03-29 7:00,2,1,7.10,44.87,9.03,4.26,58.06,2020-03-30 7:00,NaN,2020-03-31 7:00,NaN,-4.064845,-3.252700,-2.307509,10.09,0.716390,2.84,-1.93
3537,2020-03-29 11:30,1,1,13.54,33.49,12.20,12.90,33.67,2020-03-30 11:30,NaN,2020-03-31 11:30,NaN,-2.224313,-2.714531,-3.401824,15.52,2.101408,0.64,1.34
3538,2020-03-29 19:30,1,1,14.21,34.43,12.77,9.88,43.96,2020-03-30 19:30,NaN,2020-03-31 19:30,NaN,-1.259503,-1.811991,-2.528521,16.21,2.303441,4.33,1.44

## 내부 습도 - 외부습도

In [309]:
test_data["IN_OUT_HUM_D"] = test_data["HUM_IN"] - test_data["HUM_OUT_LOC1"]
test_data.head()

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC,DEW_POINT_IN,DEW_POINT_OUT,DEW_POINT_COIL,STR_WVP,WVP,IN_OUT_TEM_D,IN_COIL_TEM_D,IN_OUT_HUM_D
0,2019-04-01 0:00,2,3,8.17,40.42,10.10,4.20,54.82,2019-04-02 0:00,NaN,2019-04-03 0:00,NaN,-4.482439,-4.074966,-2.746664,10.86,0.887262,3.97,-1.93,-14.40
1,2019-04-01 4:30,1,2,10.03,48.81,10.79,6.09,59.34,2019-04-02 4:30,NaN,2019-04-03 4:30,NaN,-0.247107,-1.238348,0.451055,12.31,1.234693,3.94,-0.76,-10.53
2,2019-04-01 10:30,2,3,9.45,40.93,9.07,12.26,32.14,2019-04-02 10:30,NaN,2019-04-03 10:30,NaN,-3.163210,-3.898232,-3.505440,11.84,1.118880,-2.81,0.38,8.79
3,2019-04-01 11:00,1,1,12.32,34.13,10.86,12.32,28.27,2019-04-02 11:00,NaN,2019-04-03 11:00,NaN,-3.042714,-5.542454,-4.329266,14.33,1.765456,0.00,1.46,5.86
4,2019-04-01 13:30,2,1,11.28,22.65,8.76,12.01,19.84,2019-04-02 13:30,NaN,2019-04-03 13:30,NaN,-9.291221,-10.356971,-11.413783,13.38,1.509264,-0.73,2.52,2.81

## 하루 최대 최저  온도

In [310]:
test_data = changeToDatatime(test_data)
test_data.dtypes

MEA_DDHR          datetime64[ns]
PLANT                      int64
LOC                        int64
TEM_IN                   float64
HUM_IN                   float64
TEM_COIL                 float64
TEM_OUT_LOC1             float64
HUM_OUT_LOC1             float64
X24H_TMA          datetime64[ns]
X24H_COND_LOC            float64
X48H_TMA          datetime64[ns]
X48H_COND_LOC            float64
DEW_POINT_IN             float64
DEW_POINT_OUT            float64
DEW_POINT_COIL           float64
STR_WVP                  float64
WVP                      float64
IN_OUT_TEM_D             float64
IN_COIL_TEM_D            float64
IN_OUT_HUM_D             float64
dtype: object

In [311]:
test_data['date'] = test_data['MEA_DDHR'].dt.date
test_data

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,...,X48H_COND_LOC,DEW_POINT_IN,DEW_POINT_OUT,DEW_POINT_COIL,STR_WVP,WVP,IN_OUT_TEM_D,IN_COIL_TEM_D,IN_OUT_HUM_D,date
0,2019-04-01 00:00:00,2,3,8.17,40.42,10.10,4.20,54.82,2019-04-02 00:00:00,NaN,...,NaN,-4.482439,-4.074966,-2.746664,10.86,0.887262,3.97,-1.93,-14.40,2019-04-01
1,2019-04-01 04:30:00,1,2,10.03,48.81,10.79,6.09,59.34,2019-04-02 04:30:00,NaN,...,NaN,-0.247107,-1.238348,0.451055,12.31,1.234693,3.94,-0.76,-10.53,2019-04-01
2,2019-04-01 10:30:00,2,3,9.45,40.93,9.07,12.26,32.14,2019-04-02 10:30:00,NaN,...,NaN,-3.163210,-3.898232,-3.505440,11.84,1.118880,-2.81,0.38,8.79,2019-04-01
3,2019-04-01 11:00:00,1,1,12.32,34.13,10.86,12.32,28.27,2019-04-02 11:00:00,NaN,...,NaN,-3.042714,-5.542454,-4.329266,14.33,1.765456,0.00,1.46,5.86,2019-04-01
4,2019-04-01 13:30:00,2,1,11.28,22.65,8.76,12.01,19.84,2019-04-02 13:30:00,NaN,...,NaN,-9.291221,-10.356971,-11.413783,13.38,1.509264,-0.73,2.52,2.81,2019-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3534,2020-03-29 03:00:00,1,2,10.73,33.36,13.30,6.28,46.37,2020-03-30 03:00:00,NaN,...,NaN,-4.745901,-4.376622,-2.487578,12.90,1.384170,4.45,-2.57,-13.01,2020-03-29
3535,2020-03-29 05:00:00,2,3,9.15,38.86,11.70,1.39,74.33,2020-03-30 05:00:00,NaN,...,NaN,-4.125121,-2.670593,-1.843282,11.60,1.061400,7.76,-2.55,-35.47,2020-03-29
3536,2020-03-29 07:00:00,2,1,7.10,44.87,9.03,4.26,58.06,2020-03-30 07:00:00,NaN,...,NaN,-4.064845,-3.252700,-2.307509,10.09,0.716390,2.84,-1.93,-13.19,2020-03-29
3537,2020-03-29 11:30:00,1,1,13.54,33.49,12.20,12.90,33.67,2020-03-30 11:30:00,NaN,...,NaN,-2.224313,-2.714531,-3.401824,15.52,2.101408,0.64,1.34,-0.18,2020-03-29
3538,2020-03-29 19:30:00,1,1,14.21,34.43,12.77,9.88,43.96,2020-03-30 19:30:00,NaN,...,NaN,-1.259503,-1.811991,-2.528521,16.21,2.303441,4.33,1.44,-9.53,2020-03-29

In [312]:
date_maxTemp = test_data.groupby(["date"]).max()
date_maxTemp = pd.DataFrame(date_maxTemp)
maxCategory = ["TEM_IN", "HUM_IN", "TEM_COIL", "TEM_OUT_LOC1", "HUM_OUT_LOC1"]
date_maxTemp = date_maxTemp[maxCategory]
date_maxTemp.columns = ["TEM_IN_MAX", "HUM_IN_MAX", "TEM_COIL_MAX", "TEM_OUT_LOC1_MAX", "HUM_OUT_LOC1_MAX"]
date_maxTemp

,TEM_IN_MAX,HUM_IN_MAX,TEM_COIL_MAX,TEM_OUT_LOC1_MAX,HUM_OUT_LOC1_MAX
date,,,,,
2019-04-01,12.32,48.81,10.86,12.32,59.34
2019-04-02,13.85,51.86,11.43,13.39,64.53
2019-04-03,13.36,51.16,10.79,20.47,70.36
2019-04-04,14.24,57.97,11.93,16.68,85.01
2019-04-05,16.75,74.21,12.85,16.78,89.44
...,...,...,...,...,...
2020-03-25,17.02,48.38,14.26,16.04,69.14
2020-03-26,17.17,79.64,15.17,18.58,95.27
2020-03-27,16.53,73.75,15.06,12.14,97.50
2020-03-28,13.48,39.10,14.22,10.34,49.11
2020-03-29,14.21,44.87,13.30,12.90,74.33

In [313]:
test_data = pd.merge(test_data,date_maxTemp, how="left", left_on="date", right_on="date")
test_data

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,...,WVP,IN_OUT_TEM_D,IN_COIL_TEM_D,IN_OUT_HUM_D,date,TEM_IN_MAX,HUM_IN_MAX,TEM_COIL_MAX,TEM_OUT_LOC1_MAX,HUM_OUT_LOC1_MAX
0,2019-04-01 00:00:00,2,3,8.17,40.42,10.10,4.20,54.82,2019-04-02 00:00:00,NaN,...,0.887262,3.97,-1.93,-14.40,2019-04-01,12.32,48.81,10.86,12.32,59.34
1,2019-04-01 04:30:00,1,2,10.03,48.81,10.79,6.09,59.34,2019-04-02 04:30:00,NaN,...,1.234693,3.94,-0.76,-10.53,2019-04-01,12.32,48.81,10.86,12.32,59.34
2,2019-04-01 10:30:00,2,3,9.45,40.93,9.07,12.26,32.14,2019-04-02 10:30:00,NaN,...,1.118880,-2.81,0.38,8.79,2019-04-01,12.32,48.81,10.86,12.32,59.34
3,2019-04-01 11:00:00,1,1,12.32,34.13,10.86,12.32,28.27,2019-04-02 11:00:00,NaN,...,1.765456,0.00,1.46,5.86,2019-04-01,12.32,48.81,10.86,12.32,59.34
4,2019-04-01 13:30:00,2,1,11.28,22.65,8.76,12.01,19.84,2019-04-02 13:30:00,NaN,...,1.509264,-0.73,2.52,2.81,2019-04-01,12.32,48.81,10.86,12.32,59.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3534,2020-03-29 03:00:00,1,2,10.73,33.36,13.30,6.28,46.37,2020-03-30 03:00:00,NaN,...,1.384170,4.45,-2.57,-13.01,2020-03-29,14.21,44.87,13.30,12.90,74.33
3535,2020-03-29 05:00:00,2,3,9.15,38.86,11.70,1.39,74.33,2020-03-30 05:00:00,NaN,...,1.061400,7.76,-2.55,-35.47,2020-03-29,14.21,44.87,13.30,12.90,74.33
3536,2020-03-29 07:00:00,2,1,7.10,44.87,9.03,4.26,58.06,2020-03-30 07:00:00,NaN,...,0.716390,2.84,-1.93,-13.19,2020-03-29,14.21,44.87,13.30,12.90,74.33
3537,2020-03-29 11:30:00,1,1,13.54,33.49,12.20,12.90,33.67,2020-03-30 11:30:00,NaN,...,2.101408,0.64,1.34,-0.18,2020-03-29,14.21,44.87,13.30,12.90,74.33
3538,2020-03-29 19:30:00,1,1,14.21,34.43,12.77,9.88,43.96,2020-03-30 19:30:00,NaN,...,2.303441,4.33,1.44,-9.53,2020-03-29,14.21,44.87,13.30,12.90,74.33

In [314]:
date_maxTemp = test_data.groupby(["date"]).min()
date_maxTemp = pd.DataFrame(date_maxTemp)
maxCategory = ["TEM_IN", "HUM_IN", "TEM_COIL", "TEM_OUT_LOC1", "HUM_OUT_LOC1"]
date_maxTemp = date_maxTemp[maxCategory]
date_maxTemp.columns = ["TEM_IN_MIN", "HUM_IN_MIN", "TEM_COIL_MIN", "TEM_OUT_LOC1_MIN", "HUM_OUT_LOC1_MIN"]
date_maxTemp

,TEM_IN_MIN,HUM_IN_MIN,TEM_COIL_MIN,TEM_OUT_LOC1_MIN,HUM_OUT_LOC1_MIN
date,,,,,
2019-04-01,8.17,22.65,8.76,4.20,19.84
2019-04-02,7.34,22.59,8.88,1.36,20.21
2019-04-03,7.25,31.44,6.89,1.36,23.41
2019-04-04,7.74,29.30,7.43,1.88,23.53
2019-04-05,10.09,22.74,9.11,7.25,25.21
...,...,...,...,...,...
2020-03-25,10.67,35.93,10.75,5.09,37.36
2020-03-26,12.53,54.15,11.82,8.08,57.54
2020-03-27,12.78,36.32,12.92,8.35,47.28
2020-03-28,10.55,23.14,11.17,7.04,27.26
2020-03-29,7.10,33.36,9.03,1.39,33.67

In [315]:
test_data = pd.merge(test_data,date_maxTemp, how="left", left_on="date", right_on="date")
test_data.drop(['date'], axis=1 ,inplace=True)
test_data

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,...,TEM_IN_MAX,HUM_IN_MAX,TEM_COIL_MAX,TEM_OUT_LOC1_MAX,HUM_OUT_LOC1_MAX,TEM_IN_MIN,HUM_IN_MIN,TEM_COIL_MIN,TEM_OUT_LOC1_MIN,HUM_OUT_LOC1_MIN
0,2019-04-01 00:00:00,2,3,8.17,40.42,10.10,4.20,54.82,2019-04-02 00:00:00,NaN,...,12.32,48.81,10.86,12.32,59.34,8.17,22.65,8.76,4.20,19.84
1,2019-04-01 04:30:00,1,2,10.03,48.81,10.79,6.09,59.34,2019-04-02 04:30:00,NaN,...,12.32,48.81,10.86,12.32,59.34,8.17,22.65,8.76,4.20,19.84
2,2019-04-01 10:30:00,2,3,9.45,40.93,9.07,12.26,32.14,2019-04-02 10:30:00,NaN,...,12.32,48.81,10.86,12.32,59.34,8.17,22.65,8.76,4.20,19.84
3,2019-04-01 11:00:00,1,1,12.32,34.13,10.86,12.32,28.27,2019-04-02 11:00:00,NaN,...,12.32,48.81,10.86,12.32,59.34,8.17,22.65,8.76,4.20,19.84
4,2019-04-01 13:30:00,2,1,11.28,22.65,8.76,12.01,19.84,2019-04-02 13:30:00,NaN,...,12.32,48.81,10.86,12.32,59.34,8.17,22.65,8.76,4.20,19.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3534,2020-03-29 03:00:00,1,2,10.73,33.36,13.30,6.28,46.37,2020-03-30 03:00:00,NaN,...,14.21,44.87,13.30,12.90,74.33,7.10,33.36,9.03,1.39,33.67
3535,2020-03-29 05:00:00,2,3,9.15,38.86,11.70,1.39,74.33,2020-03-30 05:00:00,NaN,...,14.21,44.87,13.30,12.90,74.33,7.10,33.36,9.03,1.39,33.67
3536,2020-03-29 07:00:00,2,1,7.10,44.87,9.03,4.26,58.06,2020-03-30 07:00:00,NaN,...,14.21,44.87,13.30,12.90,74.33,7.10,33.36,9.03,1.39,33.67
3537,2020-03-29 11:30:00,1,1,13.54,33.49,12.20,12.90,33.67,2020-03-30 11:30:00,NaN,...,14.21,44.87,13.30,12.90,74.33,7.10,33.36,9.03,1.39,33.67
3538,2020-03-29 19:30:00,1,1,14.21,34.43,12.77,9.88,43.96,2020-03-30 19:30:00,NaN,...,14.21,44.87,13.30,12.90,74.33,7.10,33.36,9.03,1.39,33.67

## 데이터 시계열 특성 추가
### 데이터 형식 바꿔주기

In [316]:
test_data = changeToDatatime(test_data)
test_data.dtypes

MEA_DDHR            datetime64[ns]
PLANT                        int64
LOC                          int64
TEM_IN                     float64
HUM_IN                     float64
TEM_COIL                   float64
TEM_OUT_LOC1               float64
HUM_OUT_LOC1               float64
X24H_TMA            datetime64[ns]
X24H_COND_LOC              float64
X48H_TMA            datetime64[ns]
X48H_COND_LOC              float64
DEW_POINT_IN               float64
DEW_POINT_OUT              float64
DEW_POINT_COIL             float64
STR_WVP                    float64
WVP                        float64
IN_OUT_TEM_D               float64
IN_COIL_TEM_D              float64
IN_OUT_HUM_D               float64
TEM_IN_MAX                 float64
HUM_IN_MAX                 float64
TEM_COIL_MAX               float64
TEM_OUT_LOC1_MAX           float64
HUM_OUT_LOC1_MAX           float64
TEM_IN_MIN                 float64
HUM_IN_MIN                 float64
TEM_COIL_MIN               float64
TEM_OUT_LOC1_MIN           float64
HUM_OUT_LOC1_MIN           float64
dtype: object

### 월, 달, 시간 추가해주기

In [317]:
test_data = appendMonthANdWeek(test_data)
test_data

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,...,TEM_OUT_LOC1_MAX,HUM_OUT_LOC1_MAX,TEM_IN_MIN,HUM_IN_MIN,TEM_COIL_MIN,TEM_OUT_LOC1_MIN,HUM_OUT_LOC1_MIN,MONTH,WEEK,HOUR
0,2019-04-01 00:00:00,2,3,8.17,40.42,10.10,4.20,54.82,2019-04-02 00:00:00,NaN,...,12.32,59.34,8.17,22.65,8.76,4.20,19.84,4,14,0
1,2019-04-01 04:30:00,1,2,10.03,48.81,10.79,6.09,59.34,2019-04-02 04:30:00,NaN,...,12.32,59.34,8.17,22.65,8.76,4.20,19.84,4,14,4
2,2019-04-01 10:30:00,2,3,9.45,40.93,9.07,12.26,32.14,2019-04-02 10:30:00,NaN,...,12.32,59.34,8.17,22.65,8.76,4.20,19.84,4,14,10
3,2019-04-01 11:00:00,1,1,12.32,34.13,10.86,12.32,28.27,2019-04-02 11:00:00,NaN,...,12.32,59.34,8.17,22.65,8.76,4.20,19.84,4,14,11
4,2019-04-01 13:30:00,2,1,11.28,22.65,8.76,12.01,19.84,2019-04-02 13:30:00,NaN,...,12.32,59.34,8.17,22.65,8.76,4.20,19.84,4,14,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3534,2020-03-29 03:00:00,1,2,10.73,33.36,13.30,6.28,46.37,2020-03-30 03:00:00,NaN,...,12.90,74.33,7.10,33.36,9.03,1.39,33.67,3,13,3
3535,2020-03-29 05:00:00,2,3,9.15,38.86,11.70,1.39,74.33,2020-03-30 05:00:00,NaN,...,12.90,74.33,7.10,33.36,9.03,1.39,33.67,3,13,5
3536,2020-03-29 07:00:00,2,1,7.10,44.87,9.03,4.26,58.06,2020-03-30 07:00:00,NaN,...,12.90,74.33,7.10,33.36,9.03,1.39,33.67,3,13,7
3537,2020-03-29 11:30:00,1,1,13.54,33.49,12.20,12.90,33.67,2020-03-30 11:30:00,NaN,...,12.90,74.33,7.10,33.36,9.03,1.39,33.67,3,13,11
3538,2020-03-29 19:30:00,1,1,14.21,34.43,12.77,9.88,43.96,2020-03-30 19:30:00,NaN,...,12.90,74.33,7.10,33.36,9.03,1.39,33.67,3,13,19

In [318]:
test_weather = etlPlantWeather(test_data, weather)
test_weather

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,...,HOUR,AVG_PA,AVG_PS,HR1_RN,AVG_TA,AVG_WS,MAX_WS,MAX_WS_WD,MAX_INS_WS,MAX_INS_WS_WD
0,2019-04-01 00:00:00,2,3,8.17,40.42,10.10,4.20,54.82,2019-04-02 00:00:00,NaN,...,0,1021.200000,1023.7,0.0,3.150000,2.125000,2.550,269.325000,4.250000,283.350000
1,2019-04-01 04:30:00,1,2,10.03,48.81,10.79,6.09,59.34,2019-04-02 04:30:00,NaN,...,4,1021.633333,1024.1,0.0,4.958333,2.791667,3.275,288.208333,5.533333,274.216667
2,2019-04-01 10:30:00,2,3,9.45,40.93,9.07,12.26,32.14,2019-04-02 10:30:00,NaN,...,10,1022.066667,1024.5,0.0,6.766667,3.458333,4.000,307.091667,6.816667,265.083333
3,2019-04-01 11:00:00,1,1,12.32,34.13,10.86,12.32,28.27,2019-04-02 11:00:00,NaN,...,11,1022.500000,1024.9,0.0,8.575000,4.125000,4.725,325.975000,8.100000,255.950000
4,2019-04-01 13:30:00,2,1,11.28,22.65,8.76,12.01,19.84,2019-04-02 13:30:00,NaN,...,13,1021.100000,1023.5,0.0,8.837500,4.075000,4.775,304.662500,7.850000,279.862500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3534,2020-03-29 03:00:00,1,2,10.73,33.36,13.30,6.28,46.37,2020-03-30 03:00:00,NaN,...,3,1020.500000,1023.0,0.0,1.450000,1.225000,1.400,252.425000,2.175000,263.025000
3535,2020-03-29 05:00:00,2,3,9.15,38.86,11.70,1.39,74.33,2020-03-30 05:00:00,NaN,...,5,1020.700000,1023.2,0.0,0.175000,0.875000,1.225,163.250000,1.525000,184.275000
3536,2020-03-29 07:00:00,2,1,7.10,44.87,9.03,4.26,58.06,2020-03-30 07:00:00,NaN,...,7,1021.300000,1023.8,0.0,-0.500000,1.200000,1.650,179.450000,2.375000,170.900000
3537,2020-03-29 11:30:00,1,1,13.54,33.49,12.20,12.90,33.67,2020-03-30 11:30:00,NaN,...,11,1021.300000,1023.8,0.0,-0.500000,1.200000,1.650,179.450000,2.375000,170.900000
3538,2020-03-29 19:30:00,1,1,14.21,34.43,12.77,9.88,43.96,2020-03-30 19:30:00,NaN,...,19,1021.300000,1023.8,0.0,-0.500000,1.200000,1.650,179.450000,2.375000,170.900000

In [319]:
test_weather_sea = etlPlantWeather(test_weather, sea)
test_weather_sea

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,...,BUOY_TA,MAX_WH,AVG_WH,LB_WD,LB_WS,LB_MAX_INS_WD,LB_MAX_IWS,LB_TA,LB_PS,LB_HM
0,2019-04-01 00:00:00,2,3,8.17,40.42,10.10,4.20,54.82,2019-04-02 00:00:00,NaN,...,5.4,2.0,0.0,298.0,7.6,313.0,14.0,5.0,1023.2,50.0
1,2019-04-01 04:30:00,1,2,10.03,48.81,10.79,6.09,59.34,2019-04-02 04:30:00,NaN,...,5.3,1.0,0.0,305.0,6.9,300.0,9.0,5.0,1022.9,62.0
2,2019-04-01 10:30:00,2,3,9.45,40.93,9.07,12.26,32.14,2019-04-02 10:30:00,NaN,...,6.0,1.0,0.0,326.0,4.5,300.0,9.0,5.4,1025.0,47.0
3,2019-04-01 11:00:00,1,1,12.32,34.13,10.86,12.32,28.27,2019-04-02 11:00:00,NaN,...,6.1,1.0,0.0,325.0,3.3,300.0,9.0,5.6,1024.9,46.0
4,2019-04-01 13:30:00,2,1,11.28,22.65,8.76,12.01,19.84,2019-04-02 13:30:00,NaN,...,6.3,0.0,0.0,227.0,3.1,300.0,9.0,6.1,1023.6,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3534,2020-03-29 03:00:00,1,2,10.73,33.36,13.30,6.28,46.37,2020-03-30 03:00:00,NaN,...,6.3,0.0,0.0,345.0,4.2,338.0,8.0,4.8,1022.9,46.0
3535,2020-03-29 05:00:00,2,3,9.15,38.86,11.70,1.39,74.33,2020-03-30 05:00:00,NaN,...,6.3,0.0,0.0,5.0,3.5,338.0,8.0,4.2,1023.2,50.0
3536,2020-03-29 07:00:00,2,1,7.10,44.87,9.03,4.26,58.06,2020-03-30 07:00:00,NaN,...,6.3,0.0,0.0,29.0,3.3,338.0,8.0,3.9,1023.9,46.0
3537,2020-03-29 11:30:00,1,1,13.54,33.49,12.20,12.90,33.67,2020-03-30 11:30:00,NaN,...,6.3,0.0,0.0,149.0,0.9,338.0,8.0,7.2,1023.6,49.0
3538,2020-03-29 19:30:00,1,1,14.21,34.43,12.77,9.88,43.96,2020-03-30 19:30:00,NaN,...,6.3,0.0,0.0,286.0,3.5,338.0,8.0,6.4,1020.6,68.0

# 파일 저장하기

In [320]:
plant.to_csv("data/31.finaldata_plant/plant.csv", index=False)

In [321]:
test_weather_sea.to_csv("data/31.finaldata_plant/test_weather_sea.csv", index=False)

In [322]:
plant_weather_sea.to_csv("data/31.finaldata_plant/plant_weather_sea.csv", index=False)